@media screen and (min-width: 320px) {
    body {
        margin: 0px;
    }
    header {
        background: rgb(135, 206, 235);
        margin: 0px auto;
        padding: 5px;
        width: 80%;
    }
    header h1 {
        color: white;
        margin: 0px 0px 5px 0px;
        text-align: center;
    }
    header ul {
        list-style-type: none;
        margin: 5px 0px 0px 0px;
        padding: 0px;
        text-align: center;
    }
    header ul a {
        text-decoration: none;
    }
    header ul a li {
        border: 1px solid white;
        border-radius: 1%;
        color: white;
        margin: 5px 0px 0px 0px;
        padding: 5px;
    }
}

@media screen and (min-width: 426px) {
    header {
        position: relative;
    }
    header h1 {
        display: inline-block;
        text-align: left;
    }
    header ul {
        display: inline-block;
        margin: 0px;
        position: absolute; right: 5px;
    }
    header ul a li {
        display: inline-block;
    }
}